*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 2px yellow solid; */
}

.places-food-culture-page{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.places-food-culture-page{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   height: 100h;
   width: 100%;
   align-items: center;
   background-color: #e76969;
   background: linear-gradient(#114357,#f29492);
   z-index: -1;
}
.page-content{
   height: 70vh;
   margin-top: 5vh;
   margin-bottom: 5vh;
   display:flex;
   flex-direction: column;
   justify-content: center;
}

.carousel{
   height: 60vh;
   padding: 0 30px;
}
.card{
   height: 60vh;
   border-radius: 10px;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
   background-size:cover;
   background-repeat: no-repeat;
   box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
   inset rgba(white, 0.5) 0 0 0 6px;

}
.card:hover {
   cursor: pointer;
   transform: rotate(0deg) scale(1) translateY(10px);
   transition: .5s all ease;
   z-index: 400;
}
.owl-dots{
   height: 0vh;
   margin-top : 0vh;
   margin-bottom: 0vh;
}
.card-empty-space{
   height:5px;
   padding: 0px;
   margin:0px;
}

.card-info{
   height: 58vh;
   padding: 0px;
   font-size: 50px;
   border: solid 2px white;
   margin-left: 5px;
   margin-right: 5px;
   border-radius: 10px;
}
.card-title{
   margin-top: 48vh;
   height: 4vh;
   margin-bottom: 0.5vh;
   color: rgb(255, 255, 255);
   padding: 0px;
   font-family: "Playfair Display";
   font-size: 20px;
   font-weight: 900;
   margin-left:5px;
}
.card-type{
   height: 2vh;
   color: rgb(255, 255, 255);
   margin: 0px;
   padding:  0px;
   font-size: 16px;
   font-weight:bolder;
   margin-left:5px;
   font-family: "Playfair Display";
}      

/* POPUP STUFF */
.pop-up {
    display: none;
    background-color: #FCEEEE;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; 
    margin: 0px;

}
.close-button {
    width:90%;
    text-align: left;
    height: 3vh;
    font-size: 20px;
    cursor: pointer;
    color: #ff4d4d;
    font-weight:bold ;
    background-color:#FCEEEE ;
    border: none;
    margin-bottom:2vh;
    margin-left:3%;
    border-radius: 5%; 
}
 
 .image-holder-pop-up {
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   height: 25vh;
   border-top-left-radius: 50% 50%;
   border-top-right-radius: 50% 50%;
   border-bottom-right-radius: 50% 50%;
   border-bottom-left-radius: 50% 50%;
   margin-bottom:0vh;
}
.image-pop-up {
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   height: 25vh;
   border-top-left-radius: 50% 50%;
   border-top-right-radius: 50% 50%;
   border-bottom-right-radius: 50% 50%;
   border-bottom-left-radius: 50% 50%;
   margin-bottom:0vh;
   
}

.article-pop-up {
   height: 80vh;
   margin-top:5vh;
   margin-bottom: 5vh;
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 25px;
   padding-left: 2.5%;
   padding-right: 2.5%;
   padding-top: 0px;
   padding-bottom:0px;
}

.title-pop-up {
   height: 6vh;
   margin-top:2.5vh; 
   text-align: center; 
   font-size: 20px;
   color:white;
   background-color: #FF4D4D;
   border: 2px solid #FF4D4D;
   border-radius: 20px;
   margin-left: 5%;
   margin-right: 5%;
   text-align: center;
}
.description-pop-up{
   height: 49vh;
   margin-top: 2.5vh;
   text-align: center;
   color: #4B5C7F;
   font-size: 13px;
   justify-content: center;
}

/* MEDIA QUERY for tablets and laptops */

@media screen and (min-width:768px){
   .card-title {
      font-size: 30px;
   }
   
   .pop-up {
      width: 532px;
      margin-left: calc((100% - 532px) / 2);
      margin-right: calc((100% - 532px) / 2);
      border: solid 4px #ff4d4d;
      border-radius: 5%; 
      height: 80vh;
      margin-top: 10vh;
      margin-bottom: 10vh;
   } 
   .image-holder-pop-up{
      max-width: 350px;
   }
   .article-pop-up {
      height: 42vh;
      margin-top:5vh;
      margin-bottom: 5vh;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
      border: 3px solid rgb(255, 255, 255);
      border-radius: 25px;
      padding-left: 2.5%;
      padding-right: 2.5%;
      padding-top: 0px;
      padding-bottom:0px;
   }
   .title-pop-up {
      font-size: 25px;
   }
   .description-pop-up {
      height: 29vh;
      font-size: 14px;
   }
}
places-food-culture-page{
   background: linear-gradient(#de6262 ,#ffb88c);
 }