* {
  margin: 0;
  padding: 0;
}

/* added new font feel free to change it if you find something better*/
body {
  margin: 0;
  padding: 0;
  color: #ff4d4d;
  font-family: "Explora", cursive;
  
}

.wrapper{
  overflow: hidden;
}
/* this is the burger button menu*/

#menuToggle {
  width: 15%;
  display: flex;
  position: relative;
  bottom: 40px;
  margin-top: 65px;
  margin-right: 5vh;
  margin-left: 5vh;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  position: absolute;
  bottom: -20px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*This is the button design*/
#menuToggle span {
  display: block;
  width: 10%;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #ff4d4d;

  border-radius: 4vh;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ff4d4d;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: relative;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a {
  padding: 10px 0;
  font-size: 22px;
  color: #ff4d4d;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.LogoImg {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 5px;
  position: relative;
  top: 42px;
}
/*Fixed the title to the middle*/
.middleTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skHeader {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  background-color: white;
}

#introduction {
  text-align-last: center;
  font-size: 1rem;
}

#mainNav {
  overflow: auto;
  height: 20%;
  background-color: blueviolet;
}

.slider {
  max-width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* margin-top: 15vh; */
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.18);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 3.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn--left {
  left: 2%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 2%;
  transform: translate(50%, -50%);
}

.FootContainer {
  width: 100%;
  height: 20vh;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
/* fixed the copyright text to the middle*/
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#introduction {
  text-align-last: center;
  font-size: 5rem;
}

footer{
  background-color: wheat;
}


/* STYLING OF FORM  basically what this page is about*/

/* STYLES BIG SCREEN */


@media only screen and (min-width: 1200px) {

#contacto {
    /* Center the form on the page */
    margin: 0 auto;
    width: 30vw;
    /* Form outline */
    padding: 1em;
     /* border: 1px solid #ccc;  */
    border-radius: 2em;
    color: wheat;
    font-family: 'BioRhyme', serif;
    font-size: 2em;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 40%;
    margin: 0 auto 35vh auto;
    position: absolute;
    margin-bottom: 23vh;
  }

  form li + li {
     margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    /* display: inline-block; */
    width: 90px;
    text-align: right;
    margin-right: 5%;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  .button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    margin-left: 0.5em; /* same size as the label elements */
  }

  li {
    width: 40%;
  }

  textarea {
    width: 23vw;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    height: 18vh;
    font: 1em sans-serif;
    border: 4px solid #f009;
    border-radius: 5px;
    overflow: auto;
    
  }

  input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    border: 4px solid #f009;
    border-radius: 10px;
    width: 15vw;
    height: 5vh;
  }

  #contactbody {
    /* background-image: url(pictures/cherryblosoms.jpg); */
    /* background-image: url(pictures/porfin.png); */
    background-image: url(pictures/blackbackground.jpg);
   
  }

  #chicacamara{
    position: relative;
    /* left: 5vw; */
    /* top: 20vh;  */
    transform: translateX(400px);
    transition: 3s;
    transition-timing-function: ease;
  }

  /* #chicacamara:hover{
    transform: translateX(400px);
    transition: 1s;
    transition-timing-function: ease;
  } */

  #papiTextArea {
/* border: 5px red solid; */
width: 30vw;
/* position: absolute; */
/* left: 38%; */
  }

  /* STYLING OF BOTTOM */
  
  button {
    border       : 3px solid #f009;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    background-color: white;
    font-family: 'BioRhyme', serif;
    font-size: .5em;
    top: 1.5em;
    position: relative;
  }
 
  button:after {
    content      : " >>>";
  }
  
  button:hover,
  button:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }

  /* SOLECITO */
  #solecito{
    position: relative;
    left: 40vw;
     /* transform: translateX(-700px); */
    bottom: -30vw;
  }


}